[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "footBayes"]
	path = footBayes
	url = https://github.com/leoegidi/footbayes
[submodule "pivmet"]
	path = pivmet
	url = https://github.com/leoegidi/pivmet
